# Browserslist 配置参考: https://github.com/browserslist/browserslist.git

# 这个值会被 @babel/preset-env 和 Autoprefixer用来确定需要转译的JavaScript特性和需要添加的css浏览器前缀。

# 兼容到超过百分之1的用户使用的浏览器
> 1%

# 兼容到最后的两个版本
last 2 versions

not dead

#Android >= 4.0
#i0S >= 8